{% extends 'base.html' %}

{% block content %}
<h1 class="display-4 text-center">MolGAN</h1>
<div class="card">
    <p class="lead text-center" style="margin: 5px;">
        <strong>MolGAN</strong> is an ensemble of Message Passing Neural Network (MPNN) and Junction Variational Autoencoder (JTVAE). <br>
        This project was implemented within the framework of the intership SCAMT program.
    </p>
</div>
<div class="container text-center" style="margin-top: 30px;">
    <a href="https://github.com/lockiultra/SCAMT"><span class="badge bg-dark">github</span></a>
    <a href="https://scamt.ifmo.ru/ru/"><span class="badge bg-primary">scamt</span></a>
</div>
{% endblock %}